/*Primary style sheet for Keiyon Tyler's portfolio page.  Author: Keiyon Tyler */
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    width: 800px;
}

/*Edited the 'foot' div class I created on my index.html page.  Noted changes: 
  added a turquoise background color
  added bold font 
  increased the font size to 120%
  aligned the text to be in the center of my page*/

.foot {
    background-color: turquoise;
    font-weight: bold;
    font-size: 120%;
    text-align: center;
}
